Erronka2/Lenguaiak/Produktua.dtd

<!DOCTYPE produktuak [
    <!ELEMENT produktuak (produktu_lista)>
    <!ELEMENT produktu_lista (produktua+)>
    <!ELEMENT produktua (izena,deskribapena,balioa,une_salneurria)>
    <!ATTLIST produktua produktuKodea ID #REQUIRED>
    <!ATTLIST produktua idKategoria IDREF #REQUIRED>
    <!ELEMENT izena (#PCDATA)>
    <!ELEMENT deskribapena (#PCDATA)>
    <!ELEMENT balioa (#PCDATA)>
    <!ELEMENT une_salneurria (#PCDATA)>
]>